.auth-modal {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(var(--gray-50));
  border: 1px solid rgb(var(--gray-200));
  border-radius: 12px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 4px 30px rgb(var(--gray-900));
}

.auth-modal__header {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.auth-modal__form,
.auth-modal__form-header,
.auth-modal__form-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auth-modal__form-header {
  gap: 4px;
}

.auth-modal__form-title,
.auth-modal__form-description {
  margin: 0;
  padding: 0;
}

.auth-modal__form-title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
  color: rgb(var(--gray-900));
}

.auth-modal__form-description {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(var(--gray-600));
}

.auth-modal__form-content {
  border: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.auth-modal__input-group {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid rgb(var(--gray-300));
  border-radius: 8px;
  align-items: center;
}

.auth-modal__input-icon {
  height: 24px;
  width: 24px;
}

.auth-modal__input {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.auth-modal__input::placeholder {
  color: rgb(var(--gray-400));
}

.auth-modal__input_error {
  border-color: rgb(var(--semantic-error));
}

.auth-modal__redirect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.auth-modal__redirect-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(var(--gray-600));
}

@media (max-width: 425px) {
  .auth-modal {
    max-width: 325px;
  }
}
