.button {
  border: 1px solid;
  border-radius: 12px;
}

.button_type_primary {
  background-color: rgb(var(--primary-color));
  color: #fff;
  padding: 12px 24px;
  height: 40px;
  white-space: nowrap;
  font-size: 16;
  line-height: 1;
}

.button_type_ghost {
  border-color: rgb(var(--gray-300));
  background-color: rgb(var(--gray-200));
  color: rgb(var(--gray-700));
  padding: 0 12px;
  height: 40px;
  white-space: nowrap;
}

.button_type_icon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 15px;
  width: 15px;
}

.button__image {
  height: 100%;
  width: 100%;
}

.button__image:hover,
.button_type_primary {
  cursor: pointer;
}
