.button {
  border: 1px solid;
  border-radius: 8px;
}

.button_type_ghost {
  border-color: rgb(var(--gray-300));
  background-color: rgb(var(--gray-200));
  color: rgb(var(--gray-700));
  padding: 0 12px;
  height: 40px;
}
