.hover-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hover-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-button_type_info {
  position: absolute;
  left: 5px;
  top: 5px;
}

.hover-button_type_add {
  position: absolute;
  right: 2.5px;
  bottom: 2.5px;
}

.hover-button_type_delete,
.hover-button_type_remove {
  position: absolute;
  left: 2.5px;
  bottom: 2.5px;
}
