.hover-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hover-button {
  width: 15px;
  height: 15px;
}

.hover-button_type_info {
  position: absolute;
  left: 5px;
  top: 5px;
}

.hover-button_type_add {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.hover-button_type_delete,
.hover-button_type_remove {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
