.info-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-modal__text-wrapper {
  position: absolute;
  background-color: rgb(var(--primary-color));
  z-index: 10;
  border-radius: 12px;
  white-space: nowrap;
  right: 25px;
  padding: 4px 6px;
  color: rgb(var(--gray-50));
}

.info-modal__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .info-modal__text-wrapper {
    position: absolute;
    white-space: unset;
    top: calc(var(--modal-y) - 14px);
    right: calc(100% - var(--modal-x) + 12px);
    max-width: 400px;
  }
}
@media (max-width: 425px) {
  .info-modal__text-wrapper {
    position: absolute;
    white-space: unset;
    top: calc(var(--modal-y) - 14px);
    right: calc(100% - var(--modal-x) + 12px);
    max-width: 250px;
  }
}
