.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  max-width: 1360px;
  padding: 0 24px;
  background-color: #fff;
  flex-shrink: 0;
}

.navbar__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar__list-item {
  list-style: none;
}

.navbar__brand-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.navbar__brand-info-wrapper,
.navbar__auth {
  flex-basis: 0;
  flex-grow: 1;
}

.navbar__logo {
  height: 48px;
  width: 48px;
}

.navbar__title {
  font-size: 24;
  font-weight: 600;
  line-height: 1.3;
  color: rgb(var(--primary-color));
  margin: 0;
  padding: 0;
}

.navbar__links {
  display: flex;
  gap: 24px;
}

.navbar__link {
  text-decoration: none;
}

.navbar__link-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(var(--gray-700));
  margin: 0;
}

.navbar__auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navbar__user-name {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: rgb(var(--gray-700));
}

.navbar__avatar {
  height: 20px;
  width: 20px;
}

.navbar__avatar-image {
  width: 100%;
  height: 100%;
}

.navbar__logout {
  width: 20px;
  height: 20px;
  color: rgb(var(--gray-600));
  background-image: url("src/images/logout.svg");
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .nav-menu {
    visibility: hidden;
    position: absolute;
    right: -212px;
    z-index: 999;
    width: 100%;
    max-width: 200px;
    transition: all 1s ease-in-out;
    background-color: rgb(var(--gray-100));
    margin: 0;
    padding: 12px;
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .nav-menu_visible {
    visibility: visible;
    right: 0;
  }

  .nav-menu__list-item {
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    border-bottom: 2px solid rgb(var(--gray-200));
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-menu__link {
    text-decoration: none;
    color: rgb(var(--gray-600));
    background-color: rgb(var(--gray-100));
    margin: 0;
    flex: 1;
  }

  .nav-menu__user {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--primary-color));
    border: none;
    gap: 4px;
  }

  .nav-menu__user-greeting,
  .nav-menu__user-name {
    margin: 0;
    color: #fff;
  }

  .nav-menu__user-greeting {
    font-size: 14px;
  }

  .nav-menu__user-name {
    font-size: 18px;
    font-weight: 600;
  }
}
