.pokedex {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 1360px;
  background-color: rgb(var(--gray-100));
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
  flex: 1;
  min-height: 0;
}

.pokedex__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.pokedex__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  color: rgb(var(--gray-900));
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.pokedex__wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.pokedex__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  margin: 0;
  padding: 0;
}

.pokedex__grid_type_pokedex {
  row-gap: 29px;
  column-gap: 31.6px;
}

.pokedex__grid_type_team-builder {
  row-gap: 32.6px;
  column-gap: 48.8px;
}

.pokedex__wrapper::-webkit-scrollbar,
.pokedex__grid::-webkit-scrollbar {
  display: none;
}

.pokedex__list-item {
  list-style: none;
}

@media (max-width: 1024px) {
  .pokedex {
    max-width: 1024px;
    gap: 12px;
  }

  .pokedex__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .pokedex {
    max-width: 768px;
  }

  .pokedex__grid_type_pokedex {
    row-gap: 29px;
    column-gap: 25px;
  }
}

@media (max-width: 425px) {
  .pokedex {
    max-width: 425px;
  }

  .pokedex__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
