.pokemon-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgb(var(--gray-300));
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.pokemon-card_type_pokedex {
  max-width: 180px;
  max-height: 253px;
  gap: 5px;
  padding-bottom: 12px;
}

.pokemon-card_type_team-builder,
.pokemon-card_type_team-form {
  max-width: 125px;
  max-height: 150px;
  gap: 2.5px;
  padding-bottom: 2.5px;
}

.pokemon-card__info-wrapper {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 180px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0 8px;
}

.pokemon-card__info-wrapper_type_team-builder,
.pokemon-card__info-wrapper_type_team-form {
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pokemon-card__description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card__description_type_team-builder,
.pokemon-card__description_type_team-form {
  justify-content: center;
}

.pokemon-card__favorite-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.pokemon-card__favorite-button_type_active {
  background-color: rgb(var(--highlight-color));
}

.pokemon-card__name,
.pokemon-card__id {
  margin: 0;
  padding: 0;
}

.pokemon-card__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.pokemon-card__name_type_team-builder,
.pokemon-card__name_type_team-form {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}

.pokemon-card__id {
  font-size: 14px;
  line-height: 1.5;
  color: rgb(var(--gray-700));
}

.pokemon-card__types-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.pokemon-card__id_type_team-builder,
.pokemon-card__types-row_type_team-builder,
.pokemon-card__favorite-button_type_team-builder,
.pokemon-card__id_type_team-form,
.pokemon-card__types-row_type_team-form,
.pokemon-card__favorite-button_type_team-form {
  display: none;
}

.pokemon-card__hover-buttons {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 5px;
}

.pokemon-card_type_normal {
  background-color: rgba(var(--type-normal), 0.8);
}
.pokemon-card_type_fire {
  background-color: rgba(var(--type-fire), 0.8);
}
.pokemon-card_type_water {
  background-color: rgba(var(--type-water), 0.8);
}
.pokemon-card_type_electric {
  background-color: rgba(var(--type-electric), 0.8);
}
.pokemon-card_type_grass {
  background-color: rgba(var(--type-grass), 0.8);
}
.pokemon-card_type_ice {
  background-color: rgba(var(--type-ice), 0.8);
}
.pokemon-card_type_fighting {
  background-color: rgba(var(--type-fighting), 0.8);
}
.pokemon-card_type_poison {
  background-color: rgba(var(--type-poison), 0.8);
}
.pokemon-card_type_ground {
  background-color: rgba(var(--type-ground), 0.8);
}
.pokemon-card_type_flying {
  background-color: rgba(var(--type-flying), 0.8);
}
.pokemon-card_type_psychic {
  background-color: rgba(var(--type-psychic), 0.8);
}
.pokemon-card_type_bug {
  background-color: rgba(var(--type-bug), 0.8);
}
.pokemon-card_type_rock {
  background-color: rgba(var(--type-rock), 0.8);
}
.pokemon-card_type_ghost {
  background-color: rgba(var(--type-ghost), 0.8);
}
.pokemon-card_type_dragon {
  background-color: rgba(var(--type-dragon), 0.8);
}
.pokemon-card_type_dark {
  background-color: rgba(var(--type-dark), 0.8);
}
.pokemon-card_type_steel {
  background-color: rgba(var(--type-steel), 0.8);
}
.pokemon-card_type_fairy {
  background-color: rgba(var(--type-fairy), 0.8);
}

.pokemon-card_selected {
  border: 2px solid rgb(var(--primary-color));
}

.pokemon-card_type-team-selector {
}

.pokemon-card_type-team-selector-md {
}

.pokemon-card_type-team-selector-sm {
}

.pokemon-card_type_team-builder {
}

.pokemon-card_type_team-builder-md {
}

.pokemon-card_type_team-builder-sm {
}

@media (max-width: 1024px) {
  .pokemon-card_type_pokedex {
    padding-bottom: 10px;
  }

  .pokemon-card__info-wrapper {
    max-width: 150px;
    padding: 0 4px;
  }

  .pokemon-card__name {
    font-size: 18px;
    font-weight: 400;
  }

  .pokemon-card__id {
    font-size: 12px;
  }

  .pokemon-card__name_type_team-builder,
  .pokemon-card__name_type_team-form {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .pokemon-card_type_pokedex {
    width: 165px;
    height: 224.5px;
    padding-bottom: 5px;
  }

  .pokemon-card__info-wrapper {
    max-width: 165px;
  }

  .pokemon-card__description {
    padding-bottom: 0;
    flex-direction: column;
  }

  .pokemon-card__info {
    flex-direction: column;
    justify-content: center;
  }

  .pokemon-card__types-row {
    display: none;
  }
}

/* Mobile  */
@media (max-width: 425px) {
}
