.tabs {
  box-sizing: border-box;
}

.tabs__navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin: 0;
  width: 100%;
  flex: 0 0 auto;
}

.tabs__list-item {
  list-style: none;
  flex-basis: 0;
  flex-grow: 1;
}

.tabs__nav-button {
  width: 100%;
  padding: 0 0 12px 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: rgb(var(--gray-700));
}

.tabs__nav-button_active {
  border-bottom: 3px solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

.tabs__types,
.tabs__stats,
.tabs__evolution,
.tabs__moves {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

.tabs__types {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.tabs__stats {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
}

.tabs__moves {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.tabs__evolution {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
