.team-builder {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1360px;
  height: calc(100% - 72px);
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 24px;
  background-color: rgb(var(--gray-100));
  flex: 1;
}

.team-builder__form {
  padding: 0 12px 0 0;
  border-right: 1px solid rgb(var(--gray-300));
  flex: 1;
  max-width: 508px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.form__title {
  margin: 0 auto;
  padding: 0;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  color: rgb(var(--gray-900));
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 16px;
  margin: 0;
  flex: 1;
  padding: 0;
  width: 100%;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(var(--gray-700));
  margin-bottom: 24px;
}

.form__input {
  box-sizing: border-box;
  padding: 0 10px;
  height: 36px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid rgb(var(--gray-300));
}

.form__list-item,
.form__team {
  margin: 0;
  padding: 0;
}

.form__team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  row-gap: 20px;
  column-gap: 54.5px;
  flex: 1;
}

.form__list-item {
  list-style-type: none;
  width: 125px;
  height: 150px;
  place-self: center;
}

.form__blank-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgb(var(--gray-200));
  border-radius: 12px;
  max-width: 125px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}

.form__blank-card-icon {
  height: 40px;
  width: 40px;
}

.form__submit-buttons {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.team-builder__selector {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.team-builder__selector-header {
  width: 100%;
  margin: 16px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.team-builder__selector-title {
  font-size: 24;
  font-weight: 600;
  line-height: 1.3;
  color: rgb(var(--gray-900));
  margin: 0;
}

@media (max-width: 1024px) {
  .team-builder {
    max-width: 1024px;
  }
  .team-builder__form {
    max-width: 420px;
  }

  .form__team {
    column-gap: 10.5px;
  }
}

@media (max-width: 768px) {
  .form {
    gap: 12px;
  }
  .team-builder {
    max-width: 768px;
    padding: 0;
  }

  .form__fieldset {
    gap: 8px;
  }

  .form__label {
    margin-bottom: 0;
  }

  .team-builder__form,
  .team-builder__selector {
    max-width: 768px;
    flex: 1;
    position: absolute;
    width: 100%;
    padding: 24px;
    visibility: hidden;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
  }

  .team-builder__form {
    border: none;
    left: -768px;
  }

  .team-builder__selector {
    right: -768px;
  }

  .team-builder__selector_visible {
    visibility: visible;
    right: 0;
  }

  .team-builder__form_visible {
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 425px) {
  .team-builder {
    max-width: 425px;
  }
  .team-builder__form,
  .team-builder__selector {
    max-width: 425px;
    padding: 24px;
  }

  .team-builder__form {
    border: none;
    left: -425px;
  }

  .team-builder__selector {
    right: -425px;
  }

  .team-builder__selector_visible {
    visibility: visible;
    right: 0;
  }

  .team-builder__form_visible {
    visibility: visible;
    left: 0;
  }

  .form__list-item {
    width: 120px;
    height: 142px;
  }

  .form__label {
    font-size: 12px;
  }

  .form__input {
    font-size: 12px;
    line-height: 18px;
    height: 24px;
    padding: 2.5px 10px;
  }

  .form__fieldset .form__label:nth-child(2) .form__input {
  }
}
