.type-chip {
  background-color: rgb(var(--gray-50));
  border: 1px solid rgb(var(--border-color));
  color: rgb(var(--text-color));
  border-radius: 999px;
  padding: 4px 10px;
}

.type-chip_size_large {
  font-size: 14px;
  line-height: 1.5;
}

.type-chip_size_small {
  font-size: 12px;
  line-height: 1.4;
}

.type-chip_size_large:hover {
  background-color: rgba(var(--hover-color), 0.5);
  border-color: rgb(var(--gray-50));
  color: rgb(var(--gray-50));
  cursor: pointer;
}

.type-chip_type_active {
  background-color: rgb(var(--background-color));
  color: rgb(var(--gray-900));
  border-color: rgb(var(--gray-900));
}

.type-chip_type_none {
  border: 1px solid rgb(var(--gray-900));
  color: rgb(var(--gray-900));
  background-color: rgb(var(--gray-50));
}

/* .type-chip_type_normal {
  border-color: rgb(var(--type-normal));
  color: rgb(var(--type-normal));
}

.type-chip_type_fire {
  border-color: rgb(var(--type-fire));
  color: rgb(var(--type-fire));
}

.type-chip_type_water {
  border-color: rgb(var(--type-water));
  color: rgb(var(--type-water));
}

.type-chip_type_electric {
  border-color: rgb(var(--type-electric));
  color: rgb(var(--type-electric));
}

.type-chip_type_grass {
  border-color: rgb(var(--type-grass));
  color: rgb(var(--type-grass));
}

.type-chip_type_ice {
  border-color: rgb(var(--type-ice));
  color: rgb(var(--type-ice));
}

.type-chip_type_fighting {
  border-color: rgb(var(--type-fighting));
  color: rgb(var(--type-fighting));
}

.type-chip_type_poison {
  border-color: rgb(var(--type-poison));
  color: rgb(var(--type-poison));
}

.type-chip_type_ground {
  border-color: rgb(var(--type-ground));
  color: rgb(var(--type-ground));
}

.type-chip_type_flying {
  border-color: rgb(var(--type-flying));
  color: rgb(var(--type-flying));
}

.type-chip_type_psychic {
  border-color: rgb(var(--type-psychic));
  color: rgb(var(--type-psychic));
}

.type-chip_type_bug {
  border-color: rgb(var(--type-bug));
  color: rgb(var(--type-bug));
}

.type-chip_type_rock {
  border-color: rgb(var(--type-rock));
  color: rgb(var(--type-rock));
}

.type-chip_type_ghost {
  border-color: rgb(var(--type-ghost));
  color: rgb(var(--type-ghost));
}

.type-chip_type_dragon {
  border-color: rgb(var(--type-dragon));
  color: rgb(var(--type-dragon));
}

.type-chip_type_dark {
  border-color: rgb(var(--type-dark));
  color: rgb(var(--type-dark));
}

.type-chip_type_steel {
  border-color: rgb(var(--type-steel));
  color: rgb(var(--type-steel));
}

.type-chip_type_fairy {
  border-color: rgb(var(--type-fairy));
  color: rgb(var(--type-fairy));
} */
